<nav class="max-h-screen mb-2 flex justify-center space-x-4 universe" aria-label="Pagination">

    <span class="rounded-lg border border-teal-500 px-2 py-2 text-gray-700">
        <span class="sr-only">Previous</span>
        <svg class="mt-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
             aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd">
            </path>
        </svg>
    </span>

  <span class="rounded-lg border border-teal-500 bg-teal-500 px-4 py-2 text-white">1</span>

  <a class="rounded-lg border border-teal-500 px-4 py-2 text-gray-700" href="/page/2">2
  </a>

  <a class="rounded-lg border border-teal-500 px-4 py-2 text-gray-700" href="/page/3">3
  </a>

  <a class="rounded-lg border border-teal-500 px-2 py-2 text-gray-700" href="/page/2">
    <span class="sr-only">Next</span>
    <svg class="mt-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
         aria-hidden="true">
      <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd">
      </path>
    </svg>
  </a>

</nav>
