<header class="bg-purple-900 text-white shadow-md">
  <nav class="max-w-2xl mx-auto py-5 flex justify-between items-center">
    <div class="flex items-center space-x-20 text-base">
      <a routerLink="/home" class="monocraft-font text-amber-500 hover:underline">Inicio</a>
      <a routerLink="/posts" class="monocraft-font text-orange-600 hover:underline">Ver artigos</a>
      <a routerLink="/create-post" class="monocraft-font px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded-md shadow">Criar artigo</a>
    </div>
  </nav>
</header>
