<header class="bg-purple-900 text-white shadow-md">
  <nav class="max-w-2xl mx-auto py-5 flex justify-between items-center">
    <div class="flex items-center space-x-20 text-2xl">
      <a routerLink="/home" class="text-amber-500 hover:underline">Inicio</a>
      <a routerLink="/posts" class="text-orange-600 hover:underline">Ver artigos</a>
      <a routerLink="/create-post" class="px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded-md shadow">Criar Artigo</a>
    </div>
  </nav>
</header>
