<header class="universe text-white">
  <nav class="max-w-6xl mx-auto py-4 flex justify-center">
    <div class="flex items-center space-x-10 text-lg lg:text-xl">
      <a routerLink="/home" class=" font-semibold monocraft-font  hover:underline hover:text-amber-400"><a routerLink="/home" class="flex items-center text-amber-500 hover:text-amber-400 hover:underline">

        Início
      </a>
      </a>
      <!-- Comentários mantidos para referência -->
<!--       <a routerLink="/login" class=" font-semibold monocraft-font  hover:underline hover:text-amber-400">Acesso</a>-->
      <!-- <a routerLink="/create-post" class="monocraft-font text-lg lg:text-xl text-white px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded-md shadow-lg transition duration-150 ease-in-out">Criar artigo</a> -->
      <!-- <app-dark-mode /> -->
    </div>
  </nav>
</header>
