<h5 class="text-3xl font-bold text-purple-700">Ultimas experiências profissionais</h5>
<div class="flex flex-col p-5 ">
  <div class='mr-8  flex bg-white dark:bg-gray-800 shadow-md shadow-gray-300 text-gray-800 dark:text-gray-200 border border-gray-200 dark:border-gray-600 w-full  mx-auto h-auto rounded-xl transition-all ease-in-out duration-500 mb-4 py-2 px-2 md:px-4'>
    <div class='w-full flex items-center justify-between'>
      <div class='flex items-center justify-center px-2 md:px-6'>
        <img class='w-16 hidden rounded-full mr-10 ml-10 ring-2 ring-green-600 shadow-lg shadow-green-600 m-2 md:block' src='https://img.freepik.com/free-vector/illustration-user-avatar-icon_53876-5907.jpg?size=626&ext=jpg' alt="" />
        <div class='text-left '>
          <h4 class='text-lg md:text-2xl lg:text-3xl ease-in-out duration-1000 uppercase monocraft-font'><span class='text-red-500'>NT</span>CONSULT</h4>
          <h4 class='text-sm md:text-base font-medium dark:text-gray-200 monocraft-font'>Desenvolvedor Backend Pleno</h4>
          <h4 class='text-sm md:text-base font-medium text-orange-500 monocraft-font'>1 ano e 10 mêses</h4>
        </div>
      </div>
    </div>
    <div class='ml-10 p-2'>
      <p class='text-lg text-gray-600 dark:text-gray-400 pb-4'>
        Atualmente trabalho com Microserviços com foco em desenvolvimento de alta performance, utilizamos Java/Kotlin além de um serviço que integra com Data Science. Usamos Gitlab para CI e MongoDB como banco principal para uso, utilizamos também gRPC em nossos serviços além da Stack de reactive. Jenkins para monitoramento dos nossos serviço, ECS e EKS integrados também, também usamos sistema de mensageria do Kafka, além de serviços altamente escaláveis que ajudam a monitorar desempenho, Graylog e Grafana. Atualmente usamos Spring Cloud com Feign para maioria dos serviços. Temos uma media de 2KK a 7KK de processamentos por dia, trabalho desenvolvendo aplicações ágeis, performaticas.
      </p>
      <h4 class='text-base text-green-400 font-semibold'>Principais responsabilidades</h4>
      <ul class='text-md list-disc ml-6'>
        <li>CI/CD e TDD</li>
        <li>Implementações de performance com fluxo Reactive do Spring boot</li>
        <li>Implementações juntamente do Kafka com diversos Microserviços</li>
        <li>ECS EKS Jenkins e MongoDB</li>
        <li>Integrações com Gateway Kong juntamente com BFF e Frontend</li>
      </ul>
    </div>
  </div>
  <div class='mr-8  flex bg-white dark:bg-gray-800 shadow-md shadow-gray-300 text-gray-800 dark:text-gray-200 border border-gray-200 dark:border-gray-600 w-full  mx-auto h-auto rounded-xl transition-all ease-in-out duration-500 mb-4 py-2 px-2 md:px-4'>
    <div class='w-full flex items-center justify-between'>
      <div class='flex items-center justify-center px-2 md:px-6'>
        <img class='w-16 hidden rounded-full mr-10 ring-2 ring-green-600 shadow-lg shadow-green-600 m-2 md:block' src='https://img.freepik.com/free-vector/illustration-user-avatar-icon_53876-5907.jpg?size=626&ext=jpg' alt="" />
        <div class='text-left '>
          <h4 class='text-lg md:text-2xl lg:text-3xl ease-in-out duration-1000 uppercase monocraft-font'><span class='text-red-500'>WATON</span> IT SOLUTIONS</h4>
          <h4 class='text-sm md:text-base font-medium dark:text-gray-200 monocraft-font'>Desenvolvedor FullStack Java</h4>
          <h4 class='text-sm md:text-base font-medium text-orange-500 monocraft-font'>5 Meses</h4>
        </div>
      </div>
    </div>
    <div class='text-left p-2'>
      <p class='text-lg text-gray-600 dark:text-gray-400 pb-4'>
        Trabalhei para uma das maiores rede de seguros do Brasil como desenvolvedor, utilizando SonarQube, Grafana, Jenkins e manutenção a projetos envolvendo microsserviços e mensageria, padrões SOLID, implementações e integrações de serviços e a sua comunicação entre telas JSP e JSF, desenvolvimento de ferramentas internas
      </p>
      <h4 class='text-base text-green-400 font-semibold'>Principais responsabilidades</h4>
      <ul class='text-md list-disc ml-6'>
        <li>Implementações de serviços para comunicação com Angular e Spring boot</li>
        <li>Desenvolvimento de soluções integrativas entre backend e frontend</li>
        <li>Analise de vunerabilidades na Stack Java</li>
        <li>RabbitMQ juntamente e implementações de SQL com Procedures</li>
      </ul>
    </div>
  </div>
</div>
<h5 class="text-1xl font-bold text-orange-600 mt-3">Mais informações de carreira e experiências em  <a href="https://www.linkedin.com/in/murilonerdx/"
                                                                                            class="monocraft-font hover:bg-sky-700 bg-cyan-200 text-black rounded-lg text-lg text-center self-center px-3 py-2 my-2 mx-2"  target="_blank">
  Linkedin <i
  class="fa fa-linkedin ml-1"></i></a></h5>
