<h5 class="text-2xl mb-4 text-cyan-400">Ultimas experiências profissionais</h5>
<body class="flex flex-col">
<div class='flex  flex-col  text-cyan-300  border border-cyan-500 dark:border-gray-600 rounded-xl duration-500 mb-4 px-2 md:px-4 py-2 bg-cyan-900 bg-opacity-40' >
  <div class='flex items-center justify-between'>
    <div class=''>
      <h4 class='text-lg md:text-2xl lg:text-3xl uppercase font-medium  monocraft-font'><span class='text-red-500'>NT</span><span class="text-white dark:text-gray-200">CONSULT</span></h4>
      <h4 class='text-sm md:text-base font-medium monocraft-font'>Desenvolvedor Backend Pleno</h4>
      <h4 class='text-sm md:text-base font-medium text-cyan-100 monocraft-font'>1 ano e 11 meses</h4>
    </div>
  </div>
  <div class='p-2'>
    <p class='text-md text-cyan-100 pb-4  monocraft-font'>
      Atualmente trabalho com Microserviços com foco em desenvolvimento de alta performance, utilizamos Java/Kotlin além de um serviço que integra com Data Science. Usamos Gitlab para CI e MongoDB como banco principal para uso, utilizamos também gRPC em nossos serviços além da Stack Spring reactivo. Jenkins para implementações e rotinas, ECS e EKS integrados também, usamos sistema de mensageria do Kafka, além de serviços altamente escaláveis que ajudam a monitorar desempenho, Graylog e Grafana. Atualmente usamos Spring Cloud com Feign para maioria dos serviços. Temos uma media de 2KK a 7KK de processamentos por dia, trabalho desenvolvendo aplicações ágeis, performáticas.
    </p>
    <h4 class='text-base text-cyan-300 monocraft-font'>Principais responsabilidades</h4>
    <ul class='text-md list-disc ml-6 text-cyan-100 monocraft-font'>
      <li>CI/CD e TDD</li>
      <li>Implementações de performance com fluxo Reactive do Spring boot</li>
      <li>Implementações juntamente do Kafka com diversos Microserviços</li>
      <li>ECS EKS Jenkins e MongoDB</li>
      <li>Integrações com Gateway Kong juntamente com BFF e Frontend</li>
    </ul>
  </div>
</div>
<div class='flex  flex-col text-cyan-300 border border-cyan-500 dark:border-gray-600 rounded-xl duration-500 mb-4 px-2 md:px-4 py-2 bg-cyan-900 bg-opacity-40'>
  <div class='flex items-center justify-between'>
    <div class=''>
      <h4 class='text-lg md:text-2xl lg:text-3xl uppercase font-medium monocraft-font'><span class='text-red-500'>WAYON</span> <span class="text-white dark:text-gray-200">IT SOLUTIONS</span></h4>
      <h4 class='text-sm md:text-base font-medium  monocraft-font'>Desenvolvedor FullStack Java</h4>
      <h4 class='text-sm md:text-base font-medium text-cyan-100 monocraft-font'>5 meses</h4>
    </div>
  </div>
  <div class='p-2'>
    <p class='text-lg text-cyan-100 pb-4 monocraft-font'>
      Trabalhei para uma das maiores rede de seguros do Brasil como desenvolvedor, utilizando SonarQube, Grafana, Jenkins e manutenção a projetos envolvendo microsserviços e mensageria, padrões SOLID, implementações e integrações de serviços e a sua comunicação entre telas JSP e JSF, desenvolvimento de ferramentas internas
    </p>
    <h4 class='text-base text-cyan-300 monocraft-font'>Principais responsabilidades</h4>
    <ul class='text-md list-disc ml-6 text-cyan-100 monocraft-font'>
      <li>Implementações de serviços para comunicação com Angular e Spring boot</li>
      <li>Desenvolvimento de soluções integrativas entre backend e frontend</li>
      <li>Analise de vulnerabilidades na Stack Java</li>
      <li>RabbitMQ juntamente e implementações de SQL com Procedures</li>
    </ul>
  </div>
</div>
<h5 class="text-1xl text-cyan-300 mt-4 self-center">Mais informações de carreira e experiências em <a href="https://www.linkedin.com/in/murilonerdx/" class=" text-gray-300 rounded-lg text-lg px-2 py-1 mx-1" target="_blank">Linkedin <i class="fa fa-linkedin ml-1"></i></a></h5>
</body>


