<div class="min-h-screen bg-gray-100 text-gray-900">
  <div class="container mx-auto p-5">
    <header class="text-center py-5">
      <img src="https://media.licdn.com/dms/image/D4D03AQG6y1tBIgdtIQ/profile-displayphoto-shrink_200_200/0/1678217227495?e=1717027200&v=beta&t=VwBAmLghoBELln5yCDaxgPJKeWiTrDwthMzuwSsrDnY" class="align-left rounded-full" />
      <h1 class="text-4xl font-bold text-purple-800">Meu Portfólio</h1>
      <p class="text-md text-gray-600 mt-2 text-lg">Redes sociais</p>
      <div class="flex-1 m-6">
        <div class="flex flex-wrap justify-center">
          <a href="https://github.com/murilonerdx" class="bg-black rounded-lg text-white text-xs text-center self-center px-3 py-2 my-2 mx-2">Github <i class="fab fa-github ml-1"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61553688407458" class="bg-blue-700 rounded-lg text-white text-xs text-center self-center px-3 py-2 my-2 mx-2">Facebook <i class="fab fa-facebook ml-1"></i></a>
          <a href="https://www.linkedin.com/in/murilonerdx/" class="bg-cyan-200 text-black rounded-lg text-xs text-center self-center px-3 py-2 my-2 mx-2">Linkedin <i class="fa fa-linkedin ml-1"></i></a>
        </div>
        <hr class="my-2">
      </div>
      <div class="text-left">
        <p class="text-md text-gray-800 text-lg mt-10">Sou desenvolvedor backend e tenho conhecimento/habilidades/trabalho com: Java 8+ e Kotlin, Spring(MVC, Security, Cloud, Microserviços, RESTful, Hibernate, JSF, JSP, Webflux/Reactive, Reflections, ActiveMQ/RabbitMQ/Kafka, TDD, DDD), gRPC, SQL/Oracle, MongoDB, PostgreSQL, Integração Contínua e Implantação Contínua (CI/CD).

          Sou tecnólogo em Analise e Desenvolvimento de sistemas na FIAP, estou sempre aprendendo uma nova tecnologia e aplicações para resolução de problemas. Atualmente estou fazendo um MBA em Engenharia da Software</p>
      </div>
    </header>
    <section id="projetos" class="mt-10">
      <h2 class="text-3xl font-bold text-purple-700">Projetos</h2>
      <div id="lista-projetos" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-5">
        <div *ngFor="let projeto of projetos.slice(0,10)" class="p-5 bg-white shadow rounded">
          <a href="{{ projeto.html_url }}">
            <h3 class="text-xl text-purple-900 font-semibold overflow-hidden whitespace-nowrap text-ellipsis">{{ projeto.nome }}</h3>
            <p class="text-gray-700 mt-2">{{ projeto.descricao }}</p>
            <p class="text-gray-500 text-gray-700 mt-2 overflow-hidden whitespace-nowrap text-ellipsis">Tags: {{ projeto.tags }}</p>
            <p class="text-orange-600 text-gray-600 mt-2">Linguagem: {{projeto.linguagem}}</p> <!-- Ajustado conforme a interface Projeto -->
          </a>
        </div>

      </div>

      <h3 class="text-lg font-bold text-purple-800 mt-10">+ Projetos acesses meu <a href="https://github.com/murilonerdx" class="bg-black rounded-lg text-white text-lg text-center self-center px-3 py-2 my-2 mx-2">Github <i class="fab fa-github"></i></a></h3>

    </section>
    <div>
      <h1 class="text-4xl font-bold text-purple-800 mt-10">Minhas certificações</h1>
      <h2 class="text-1xl font-bold text-purple-800 mt-3">Click para baixar</h2>
      <div *ngIf="certificacoes.length > 0; else noData">
        <ul>
          <li *ngFor="let arquivo of certificacoes" class="mt-2">
            <a class="ml-3" href="{{ arquivo.download_url }}" target="_blank">{{ arquivo.nome }}</a>
          </li>
        </ul>
      </div>
      <ng-template #noData>Nenhum arquivo encontrado.</ng-template>
    </div>

  </div>


</div>
