<div class="flex flex-row m-auto min-h-screen bg-gray-100 text-gray-900">
  <div class="container mx-auto p-5">
    <header class="text-center py-5">
      <div class="flex mt-10 flex-row bg-gray-100 text-gray-900">
        <img
          src="https://media.licdn.com/dms/image/D4D03AQG6y1tBIgdtIQ/profile-displayphoto-shrink_200_200/0/1678217227495?e=1717027200&v=beta&t=VwBAmLghoBELln5yCDaxgPJKeWiTrDwthMzuwSsrDnY"
          class="w-64 h-auto rounded-full border-2 border-solid  border-black rounded-full"/>

        <div class="flex-1 text-center mt-14">
          <h5 class="text-4xl font-bold text-purple-800">Meu Portfólio</h5>
          <h5 class="text-md text-gray-600 text-lg">Redes sociais</h5>
          <div class="flex-1 m-6">
            <div class="flex flex-wrap justify-center">
              <a href="https://github.com/murilonerdx"
                 class="monocraft-font hover:bg-sky-700 bg-black rounded-lg text-white text-lg text-center self-center px-3 py-2 my-2 mx-2"  target="_blank">
                Github <i
                class="fab fa-github ml-1"></i></a>
              <a href="https://www.facebook.com/profile.php?id=61553688407458"
                 class="monocraft-font hover:bg-sky-700 bg-blue-700 rounded-lg text-white text-lg text-center self-center px-3 py-2 my-2 mx-2"  target="_blank">
                Facebook <i
                class="fab fa-facebook ml-1"></i></a>
              <a href="https://www.linkedin.com/in/murilonerdx/"
                 class="monocraft-font hover:bg-sky-700 bg-cyan-200 text-black rounded-lg text-lg text-center self-center px-3 py-2 my-2 mx-2"  target="_blank">
                Linkedin <i
                class="fa fa-linkedin ml-1"></i></a>
            </div>
            <hr class="my-2">
          </div>

        </div>

      </div>

      <app-skills/>
    </header>
    <app-work-experience />

    <section id="projetos" class="mt-10">
      <h5 class="text-3xl font-bold text-purple-700">Projetos</h5>
      <div id="lista-projetos" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-5">
        <div *ngFor="let projeto of projetos.slice(0,10)" class="p-5 bg-white shadow rounded border-2 hover:bg-purple-100">
          <a href="{{ projeto.html_url }}"  target="_blank">
            <p
              class="text-purple-900 font-semibold overflow-hidden whitespace-nowrap text-xl">{{ projeto.nome }}</p>
            <p class="text-gray-700 mt-2  text-xl">{{ projeto.descricao }}</p>
            <a
              class="monocraft-font text-gray-500 text-orange-600 mt-2 overflow-hidden whitespace-nowrap text-ellipsis text-sm mt-5">
              Tags:</a><a>{{ projeto.tags }}</a>
            <br>
            <a class="text-orange-600 mt-2 text-sm monocraft-font">Linguagem:</a><a text-orange-600 mt-2
                                                                                    text-xl>{{projeto.linguagem}}</a>
            <!-- Ajustado conforme a interface Projeto -->
          </a>
        </div>

      </div>

      <h5 class="text-lg font-bold text-purple-800 mt-10">+ Projetos acesse meu <a href="https://github.com/murilonerdx"
                                                                                   class="bg-black rounded-lg text-white text-lg text-center self-center px-3 py-2 my-2 mx-2">Github
        <i class="fab fa-github"></i></a></h5>


    </section>


    <div>
      <h5 class="text-4xl font-bold text-purple-800 mt-10">Minhas certificações</h5>
      <h5 class="text-1xl font-bold text-orange-600 mt-3">Clique para baixar</h5>

      <div>
        <input type="text" [(ngModel)]="termoBusca"
               (ngModelChange)="atualizarFiltragem()"
               class="monocraft-font border-2 border-solid h-14 w-96 pr-8 pl-5 mt-5 mb-5 rounded z-0 focus:shadow focus:outline-none"
               placeholder="Buscar certificação...">

        <div class="absolute top-4 right-3">
          <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>
        </div>
      </div>
      <div *ngIf="certificacoesFiltradas.length > 0 ; else noData">
        <ul>
          <li *ngFor="let arquivo of this.certificacoesFiltradas" class="mt-2 text-lg ">
            <a class="ml-2 monocraft-font hover:underline" href="{{ arquivo.download_url }}"
               target="_blank">{{ arquivo.nome }}</a>
          </li>
        </ul>
        <h5 *ngIf="!termoBusca" class="mt-10 mb-5 text-md text-orange-700">+ {{certificacoes.length - 10}}
          certificações</h5>
        <h5 *ngIf="termoBusca" class="mt-10 mb-5 text-md text-orange-700">
          + {{certificacoes.length - certificacoesFiltradas.length}} certificações</h5>

        <a class="monocraft-font mt-10 mb-5 hover:underline text-md text-red-700" target="_blank" href="https://github.com/murilonerdx/my-goals/tree/main/certificacoes">
          clique aqui para ver todas</a>
      </div>
      <ng-template #noData>Nenhum arquivo encontrado.</ng-template>
    </div>

  </div>


</div>
