<div class="flex m-auto flex-row text-purple-600 ">
  <div class="flex-1 p-0 text-left monocraft-font text-purple-800">
    <div class="max-w-lg p-4 mt-10 text-left ml-0">
      <div class="mb-7 ">
        <div class="flex justify-between py-1">
          <span class="text-lg text-base text-gray-lite text-white">Java 8+</span>
          <span class="text-base text-gray-lite pr-5 text-white">80%</span>
        </div>
        <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
          <path class="rc-progress-line-trail" d="M 0.5,0.5
         L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
          <path class="rc-progress-line-path" d="M 0.5,0.5
         L 99.5,0.5" stroke-linecap="round" stroke="#FF6464" stroke-width="1" fill-opacity="0"
                style="stroke-dasharray: 79.2px, 100px; stroke-dashoffset: 0px; transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s linear 0s, 0.06s;">
          </path>
        </svg>
      </div>
      <div class="mb-7">
        <div class="flex justify-between py-1 ">
          <span class="text-lg text-base text-gray-lite text-white">TDD/DDD</span>
          <span class="text-base text-gray-lite pr-5 text-white">95%</span>
        </div>
        <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
          <path class="rc-progress-line-trail" d="M 0.5,0.5
         L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
          <path class="rc-progress-line-path" d="M 0.5,0.5
         L 99.5,0.5" stroke-linecap="round" stroke="#6252D1" stroke-width="1" fill-opacity="0"
                style="stroke-dasharray: 94.05px, 100px; stroke-dashoffset: 0px; transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s linear 0s, 0.06s;">
          </path>
        </svg>
      </div>
      <div class="mb-7 ">
        <div class="flex justify-between py-1">
          <span class="text-lg text-base text-gray-lite text-white">Reactive/WebFlux</span>
          <span class="text-base text-gray-lite pr-5 text-white">88%</span>
        </div>
        <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
          <path class="rc-progress-line-trail" d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
          <path class="rc-progress-line-path" d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#9272D4" stroke-width="1" fill-opacity="0"
                style="stroke-dasharray: 87.36px, 100px; stroke-dashoffset: 0px; transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s linear 0s, 0.06s;">
          </path>
        </svg>
      </div>
      <div class="mb-7 ">
        <div class="flex justify-between py-1">
          <span class="text-lg text-base text-gray-lite text-white">Docker</span>
          <span class="text-base text-gray-lite pr-5 text-white">71%</span>
        </div>
        <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
          <path class="rc-progress-line-trail" d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
          <path class="rc-progress-line-path" d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#5185D4" stroke-width="1" fill-opacity="0"
                style="stroke-dasharray: 70.41px, 100px; stroke-dashoffset: 0px; transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s linear 0s, 0.06s;">
          </path>
        </svg>
      </div>
      <div class="mb-7">
        <div class="flex justify-between py-1">
          <span class="text-lg text-base text-gray-lite text-white">Kafka/Rabbit</span>
          <span class="text-base text-gray-lite pr-5 text-white">81%</span>
        </div>
        <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
          <path class="rc-progress-line-trail" d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
          <path class="rc-progress-line-path" d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#CA56F2" stroke-width="1" fill-opacity="0"
                style="stroke-dasharray: 80.19px, 100px; stroke-dashoffset: 0px; transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s linear 0s, 0.06s;">
          </path>
        </svg>
      </div>
    </div>
  </div>

  <div class="flex-1 p-4 text-left mt-16 m-auto">
    <p class="text-lg text-cyan-100 monocraft-font">Sou desenvolvedor backend com conhecimentos em: Java 8+ e Kotlin, Spring(MVC, Security, Cloud, Microserviços, RESTful, Hibernate, JSF, JSP, Webflux/Reactive, Reflections, ActiveMQ/RabbitMQ/Kafka, TDD, DDD), gRPC, SQL/Oracle, MongoDB, PostgreSQL, Integração Contínua e Implantação Contínua (CI/CD).

      <br><br>
      Sou formado em Análise e Desenvolvimento de sistemas na FIAP com um MBA de Engenharia de Software em progresso, estou em constante aprendizado de novas tecnologias para resoluções do mais diversos problemas na área de TI.</p>
  </div>
</div>



